import(destiny)
import(foreach)
import(doParallel)
import(FNN)
import(Matrix)
import(kernlab)

export(
	CatKernel,
	HSIC,
	fuchikoma,
	simulateDropoutCounts,
	.uni.fuchikoma,
	.omitone.fuchikoma,
	.Lmatrix,
	.estimate.sigma
)
